/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* line 20, ../sass/screen.scss */
.recipe h1 {
  font-size: 32px;
  margin: 15px 0;
  font-weight: 900;
}
/* line 24, ../sass/screen.scss */
.recipe h1 a {
  color: blue;
  text-decoration: none;
}
/* line 27, ../sass/screen.scss */
.recipe h1 a:visited {
  color: blue;
}
/* line 32, ../sass/screen.scss */
.recipe .tags {
  margin-bottom: 15px;
}
/* line 38, ../sass/screen.scss */
.recipe section.ingredients, .recipe section.directions {
  line-height: 1.4em;
  background-repeat: repeat;
}
/* line 41, ../sass/screen.scss */
.recipe section.ingredients h2, .recipe section.directions h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
}
/* line 46, ../sass/screen.scss */
.recipe section.ingredients ul, .recipe section.ingredients ol, .recipe section.directions ul, .recipe section.directions ol {
  margin-left: 15px;
}
/* line 51, ../sass/screen.scss */
.recipe section.pictures li {
  display: block;
  width: 300px;
  float: left;
  margin-right: 15px;
}
/* line 56, ../sass/screen.scss */
.recipe section.pictures li img {
  width: 100%;
}
/* line 59, ../sass/screen.scss */
.recipe section.pictures li:last-child {
  margin-right: 0;
}

/* line 67, ../sass/screen.scss */
.footer {
  margin-top: 15px;
  color: #fff;
  background-color: #999;
}
/* line 71, ../sass/screen.scss */
.footer p {
  padding: 15px;
}
